---
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "About Us";
---

<MainLayout title="WebCharged Web Solutions" page="about-us">
  <div class="p-59">
    <h1 class="text-blue text-36/[200%]">{pageTitle}</h1>
  </div>
</MainLayout>