---
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "Custom Website Design";
---

<MainLayout title="WebCharged Web Solutions" page="custom-website-design">
  <div class="p-59">
    <h1 class="text-blue text-36/[200%]">{pageTitle}</h1>
  </div>
</MainLayout>

<style>
  div {
    background: #DDDDDD;
  }
</style>