---
import MainLayout from "../layouts/MainLayout.astro";

const headContent = {
  metaTitle: "Disclaimer",
}
---

<MainLayout headContent={headContent}>
  <div class="p-59">
    <h1 class="text-blue text-36/[200%]">{headContent.metaTitle}</h1>
  </div>
</MainLayout>