---
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "Project Planning Call";
---

<MainLayout title="WebCharged Web Solutions" page="project-planning-call">
  <div class="p-59">
    <h1 class="text-blue text-36/[200%]">{pageTitle}</h1>
  </div>
</MainLayout>