---

const { alt=false, mobileWidth, link, smallerPadding = false, class: className, ...rest } = Astro.props;

const set1styles = (!className?.includes('hidden') ? 'inline-flex ' : "") + 'items-center justify-center max-w-[100%] box-border before:w-24 before:md:w-0 before:min-w-0 before:flex-grow-0 before:flex-shrink-9999 before:flex-basis-24 before:md:flex-basis-0 after:w-24 after:md:w-0 after:min-w-0 after:flex-grow-0 after:flex-shrink-9999 after:flex-basis-24 after:md:flex-basis-0';
let set2styles;
if (mobileWidth) set2styles = `w-full md:w-fit text-center max-w-${mobileWidth}`

---

<a href={link} class={"px-20 md:px-44 lg:px-36 rounded-md bg-spark text-charcoal text-19 lg:text-21 font-semibold py-14 lg:py-9" + (mobileWidth ? " " + set2styles : " " + set1styles) + (className ? " " + className : "")} {...rest}>
  {mobileWidth ? 
    <slot />
  :
    <span class="shrink-1 text-center"><slot /></span>
  }
</a>


<style>
  a {
    &:hover, &:focus-visible, &:active {
      background: var(--color-spark-400);
    }
  }
</style>
