---
import MenuLink from "./MenuLink.astro"
import MobileMenuLink from "./MobileMenuLink.astro"
import DropdownItem from "./DropdownItem.astro"
import Button from "./Button.astro"

const { page } = Astro.props;

---

<nav data-mobile-dropdown-parent class="flex justify-center bg-charcoal px-32 md:px-53 lg:px-59 py-20 lg:py-22">
  <div class="grow-1 flex justify-between items-center max-w-1281">
    <a href="/" class="w-200 md:w-227">
      <img fetchpriority="high" src="/images/webcharged-logo.svg" alt="Go to WebCharged Home" width="222" height="60"/>
    </a>
    <div class="flex items-center gap-40">
      <ul class="hidden lg:flex items-center gap-36">
        <li>
          <MenuLink link="/" class="py-9" aria-current={page === "home" ? "page" : undefined}>Home</MenuLink>
        </li>
        <li>
          <MenuLink link="/about-us" class="py-9" aria-current={page === "about" ? "page" : undefined}>About Us</MenuLink>
        </li>
        <DropdownItem page={page}/>
        <li>
          <MenuLink link="/contact-us" class="py-9" aria-current={page === "contact" ? "page" : undefined}>Contact Us</MenuLink>
        </li>
      </ul>
      <Button link="/contact-us" class="hidden md:block">Book a call</Button>
      <button data-mobile-dropdown-trigger class="block lg:hidden cursor-pointer" aria-controls="mobile-dropdown-menu" aria-expanded="false">
        <img src="/icons/hamburger-electric.svg" alt="Menu icon">
      </button>
    </div>
  </div>
  
  <div id="mobile-dropdown-menu" data-mobile-dropdown-menu class="mobile-dropdown flex flex-col absolute top-0 w-full h-full bg-parchment invisible 
  opacity-0 transition-all duration-150 ease-out [[data-open]_&]:visible [[data-open]_&]:opacity-100" aria-hidden="true" aria-label="navigation menu" aria-modal="true">

    <nav class="flex justify-center px-32 md:px-53 lg:px-59 pt-20 lg:pt-22">
      <div class="grow-1 flex justify-between items-center max-w-1281">
        <a class="w-200 md:w-227" href="/">
          <img src="/images/webcharged-logo-black.svg" width="222" height="60" alt="Go to WebCharged Home" />
        </a>
        <div class="flex items-center gap-40">
          <Button link="/contact-us" class="hidden md:block">Book a call</Button>
          <button data-mobile-dropdown-close class="cursor-pointer" aria-controls="mobile-dropdown-menu" aria-expanded="false">
            <img src="/icons/close-black.svg" alt="Close icon">
          </button>
        </div>
      </div>
    </nav>
    <div class="px-32 md:px-53 py-32 flex flex-col flex-grow-1 justify-between">
      <ul class="flex flex-col gap-20">
        <li>
          <MobileMenuLink link="/">Home</MobileMenuLink>
        </li>
        <li>
          <MobileMenuLink link="/about-us">About Us</MobileMenuLink>
        </li>
        <li>
          <MobileMenuLink link="/custom-website-design">Website Design & Development</MobileMenuLink>
        </li>
        <li>
          <MobileMenuLink link="/website-support-plans">Website Support</MobileMenuLink>
        </li>
        <li>
          <MobileMenuLink link="/contact-us">Contact Us</MobileMenuLink>
        </li>
      </ul>
      <div class="w-[fit-content] pt-32">
        <Button link="/contact-us" class="block md:hidden">Book a call</Button>
      </div>
    </div>

  </div>
</nav>

