<div class="texture-overlay absolute h-full w-full 
            top-0 bg-[url(/images/overlay-texture.webp)] 
            bg-repeat bg-auto bg-center mix-blend-exclusion 
            opacity-9 pointer-events-none z-1000">
</div>

